<div class="mx-auto w-50">
  <h1>Event Mail</h1>
  <div class='mx-auto'>
    <div class='mx-auto'>
      <h4>送信が完了しました。</h4>
      <p>内容は以下の通りです。</p>
      <hr>
      <b><i class="fa-solid fa-champagne-glasses"></i> イベント名</b>
      <p><%= @title %></p>
      <b><i class="fa-solid fa-question"></i> イベント内容</b>
      <p><%= @body %></p>
    </div>
  </div>
</div>